body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin-top: 0;
  font-family: "Sacramento", cursive;
}
h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.middle-container {
}

.bottom-contain {
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {
  background-color: #a3d2ca;
}

.img_profile {
  border-radius: 100%;
  height: 300px;
  width: 300px;
}

.img_skill {
  border-radius: 100%;
  height: 300px;
  width: 300px;
}
